@media screen and (max-width: 1281px) {
    .container {
        max-width: 984px;
        margin: auto;
    }

    .section1 {
        padding-bottom: 25px;
    }

    .section1Content {
        position: relative;
        top: -190px;
        padding-left: 363px;
    }

    #images_1 {
        position: absolute;
        background: url('../images/1_11_11zon.webp') no-repeat;
        background-size: cover;
        margin-left: -22px;
        width: 467px;
        height: 548px;
        top: 133px;
    }


    #start19 {
        padding: 6px 20px 1px 30px;
        position: relative;
        left: -344px;
        top: 177px;
        width: 260px;
        height: 70px;
        margin-left: 0;
        font-size: 22px;
        text-align: center;
    }

    h1 {
        margin-left: 0;
        padding-top: 60px;
        font-size: 60px;
    }

    #Clip_path_3 {
        width: 120px;
        height: 129px;
        margin-top: 42px;
    }
    .ul_2 {
        margin-top: 34px;
        margin-bottom: 40px;
    }
    #Clip_path_2 {
        position: relative;
        left: -46px;
        top: -21px;
        width: 84px;
    }

    .italic_text {
        margin-top: 18px;
        font-weight: bold;
        margin-bottom: 85px;
    }



    .section1 .price {
        margin-left: 134px;
    }

    .section1Content button {
        margin-left: 117px;
    }

    .section2 {
        flex-direction: column;
        align-items: center;
        margin-top: -119px;
    }

    .left-column {
        max-width: 650px;
    }

    .left-column p:first-of-type {
        padding-bottom: 20px;
    }

    .left-column h3 {
        padding-bottom: 20px;
    }

    .left-column p:last-of-type {
        padding-bottom: 270px;
    }

    #Clip_4 {
        right: -16px;
    }

    #Clip_3 {
        bottom: 30px;
    }

    #Clip_path_4 {
        padding-top: 0;
        top: 34px;
    }

    #images_2, #images_3 {
        width: 577px;
        height: 636px;
    }

    .section3 .flexClass {
        display: flex;
        flex-wrap: wrap;
    }

    .backForP {
        max-width: 482px;
        margin-bottom: 32px;
    }

    .backForP p {
        color: var(--Colors-Dark, #120001);
        font-size: 24px;
        font-weight: 400;
    }

    .program h3 {
        width: 948px;
    }

    .section6 .flexClass {
        flex-direction: column;
        align-items: center;
    }

    .images_4_1 {
        width: 652px;
        height: 869px;
        padding-bottom: 10px;
    }

    .WhatYouGet, .WhatYouGet h2, .WhatYouGet p {
        max-width: 100%;
    }

    .section6 .openPopup_pay {
        margin-left: 170px;
        margin-right: 20px;
    }

    .slider-container {
        overflow: hidden;
        width: 100%;
    }

    .prevSlide {
        display: inline;
        transform: scaleX(-1);
        width: 65px;
    }

    .nextSlide {
        display: inline;
        margin-left: 10px;
        width: 65px;
    }

    .sliderButtons {
        display: flex;
        justify-content: end;
        align-items: center;
        margin-right: 20px;
    }

    .slider {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .slide {
        flex: 0 0 33.333%;
        box-sizing: border-box;
        margin-right: 30px;
    }

    footer {
        font-size: 14px;
    }

    footer .f1 {
        padding-right: 26px;
    }

    .popup,
    .popup_pay,
    .popup_ty {
        width: 350px;
        height: 400px;
    }

    .popup h3,
    .popup_pay h3,
    .popup_ty h3 {
        width: 320px;
        font-size: 24px;
        font-weight: 700;
    }

    .popup h5,
    .popup_pay h5,
    .popup_ty h5 {
        font-size: 16px;
        max-width: 320px;
        font-weight: 400;
    }

    .phoneNumber {
        width: 286px;
        margin-bottom: 16px;
        margin-left: 0;
    }

    .phoneNumber::placeholder {
        font-size: 14px;
    }

    .popup-content,
    .popup-content_pay,
    .popup-content_ty {
        width: 320px;
    }

    .popup-content_ty > * {
        padding-bottom: 8px;
    }

    .popup-content .phoneNumber {
        width: 286px;
        margin-left: 0;
    }

    .close,
    .closePopup_pay,
    .closePopup_ty {
        font-size: 28px;
        top: 10px;
    }
    .close,
    .closePopup_pay,
    .closePopup_ty {
        font-size: 70px;
        color: #aaa;
        font-weight: bold;
        cursor: pointer;
        position: absolute;
        top: -5px;
        right: 17px;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}





