@media screen and (max-width: 376px) {
    .container {
        max-width: 340px;
        margin: auto;
    }

    #images_1 {
        width: 363px;
        height: 490px;
        flex-shrink: 0;
        margin-left: -9px;
        top: 690px;
    }

    .section1Content {
        left: 0;
        top: 0;
    }

    #start19 {
        display: none;
    }
    .div_ul_2 {
        top: 0;
        margin-left: 0;
    }
    #Clip_path_1 {
        position: relative;
        top: -34px;
        left: 274px;
        z-index: 1;
    }

    .ul_2 {
        position: relative;
        width: 270px;
        font-size: 14px;
        z-index: 2;
        margin-top: -78px;
    }


    .p1p2 {
        display: flex;
        padding-top: 20px;
    }


    .italic_text {
        font-size: 40px;
    }

    .textH2 {
        font-size: 21px;
        padding-bottom: 30px;
    }



    .textH2 {
        text-align: center;
    }

    #images_5 {
        display: none;
    }
    .section1 .price {
        margin-left: 42px;
    }

    .section1Content button {
        margin-left: 25px;
    }

    .section2 {
        padding-top: 0;
    }

    .left-column h2 {
        font-size: 40px;
    }

    .left-column p, .left-column h3 {
        font-size: 20px;
    }

    .left-column p:last-of-type {
        padding-bottom: 180px;
    }

    .section2 .right-column {
        display: inline;
    }

    #Clip_path_4 {
        display: none;
    }

    #images_2, #images_3 {
        width: 263px;
        height: 290px;
    }

    #images_2 {
        margin-left: 4px;
    }

    .section3 button {
        width: 90%;
    }

    #images_3 {
        margin-left: 81px;
        margin-top: 192px;
    }

    .backForP {
        max-width: 340px;
    }

    .backForP p {
        color: var(--Colors-Dark, #120001);
        font-size: 20px;
        font-weight: 400;
    }

    #Clip_1 {
        left: -19px;
        top: 100px;
        width: 50%;
    }

    #Clip_2 {
        right: 10px;
        top: 178px;
        width: 60%;
    }

    #Clip_3 {
        right: -10px;
        bottom: -43px;
    }

    #Clip_4 {
        right: 118px;
        top: 305px;
    }

    .section4 h2 {
        font-size: 37px;
        line-height: 40px;
    }

    .program h3 {
        width: 90%;
        font-size: 16px;
    }

    .section6 .flexClass {
        flex-direction: column;
        align-items: center;
    }

    .section5 {
        padding-bottom: 112px;
    }

    .section5 h2 {
        font-size: 40px;
        text-align: center;
    }

    .images_4_1 {
        width: 350px;
        height: 470px;
        padding-right: 0;
        padding-bottom: 60px;
    }

    .WhatYouGet, .WhatYouGet h2, .WhatYouGet p {
        max-width: 100%;
    }

    .WhatYouGet h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .WhatYouGet p {
        font-size: 20px;
    }

    .section6 .openPopup_pay {
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .WhatYouGet .buttonC {
        margin-left: 20px;
    }

    .section6 {
        padding-bottom: 100px;
    }

    .slider-container {
        overflow: hidden;
        width: 100%;
    }
    .prevSlide {
        color: #878787;
        width: 40px;
    }
    .nextSlide {
        width: 40px;
    }
    .slider {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .slide {
        flex: 0 0 90%;
        box-sizing: border-box;
        margin: 0 15px;
    }

    footer .container {
        flex-direction: column;
        width: 80%;
    }
    .popup .buttonC {
        margin-left: -13px;
    }

    .f1 h5:first-of-type {
        max-width: 257px;
        padding-bottom: 50px;
    }

    .f1 {
        order: 3;
    }

    .f2 {
        padding-right: 0;
        padding-bottom: 60px;
        order: 1;
    }

    .f3 {
        order: 2;
        padding-bottom: 58px;
    }

    .f3 h4 {
        padding-bottom: 58px;
    }


}