@media screen and (max-width: 501px) {
    .container {
        max-width: 360px;
        margin: auto;
    }

    .section1 {
        display: flex;
        flex-direction: column;
    }

    .section1Content {
        position: static;
        order: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    h1 {
        padding-top: 23px;
        font-size: 30px;
        z-index: 10;
    }
    #Clip_path_3 {
        margin-top: 11px;
        width: 40px;
        height: 40px;
    }
    .italic_text {
        margin-top: 20px;
        margin-left: 0;
        font-size: 40px;
    }
    .div_ul1{
        margin-left: -215px;
    }
    .div_ul_2 {
        top: 20px;
        margin-left: 0;
    }

    .ul_1 {
        width: 253px;
        margin-left: 30px;
        font-size: 14px;
    }

    .ul_2 {
        width: 270px;
        font-size: 14px;
        margin-top: 38px;
    }

    #start19 {
        display: none;
    }

    #images_1 {
        order: 2;
        position: static;
        content: url('../images/1_111_11zon.webp');
        width: 363px;
        height: 490px;
        flex-shrink: 0;
        margin-left: -9px;
    }
    .p1p2 {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }

    .p1 {
        display: flex;
        width: 40%;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 16px;
        border: 2px solid var(--Linear, #FFF);
        background: linear-gradient(45deg, rgba(254, 238, 226, 0.20) 5.65%, rgba(200, 171, 150, 0.49) 94.35%);
        backdrop-filter: blur(9px);
    }

    .p2 {
        display: flex;
        width: 40%;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 16px;
        border: 1px solid #C1164D;
        backdrop-filter: blur(9px);
    }

    #Clip_path_1 {
        position: relative;
        top: 80px;
        left: 217px;
        z-index: 1;
    }

    #Clip_path_2 {
        position: relative;
        left: 4px;
        top: -35px;
        width: 69px;
        height: 60px;
    }



    #Clip_path_4 {
        width: 62px;
        height: 62px;
    }

    .textH2 {
        font-size: 21px;
        padding-bottom: 30px;
    }


    .textH2 {
        text-align: center;
    }

    #images_5 {
        display: none;
    }

    .div_ul_2{
        position: static;
    }
    .ul_2{
        position: static;
    }

    .section1 .price {
        margin-left: 42px;
    }
    .section2 {
        padding-top: 0;
        padding-bottom: 50px;
    }
    .section1Content button {
        margin-left: 25px;
    }
    .left-column h2 {
        font-size: 40px;
        line-height: 140px;
    }

    .left-column p, .left-column h3 {
        font-size: 20px;
    }

    .left-column h3 {
        padding-top: 0;
    }

    .left-column p:first-of-type {
        padding-bottom: 20px;
    }

    .left-column p:last-of-type {
        padding-bottom: 180px;
    }

    .section2 .right-column {
        display: inline;
    }

    .section4 {
        padding-bottom: 50px;
    }

    .section5 {
        padding-bottom: 100px;
    }

    #Clip_path_4 {
        display: none;
    }

    #images_2, #images_3 {
        width: 263px;
        height: 290px;
    }

    #images_2 {
        margin-left: 4px;
    }

    .section3 button {
        width: 90%;
    }

    #images_3 {
        margin-left: 81px;
        margin-top: 192px;
    }

    .backForP {
        max-width: 360px;
    }

    .backForP p {
        color: var(--Colors-Dark, #120001);
        font-size: 20px;
        font-weight: 400;
    }

    #Clip_1 {
        left: -55px;
        top: 100px;
        width: 50%;
    }

    #Clip_2 {
        right: 10px;
        top: 178px;
        width: 60%;
    }

    #Clip_3 {
        right: -10px;
        bottom: -43px;
    }

    #Clip_4 {
        right: 118px;
        top: 305px;
    }

    .section4 h2 {
        font-size: 37px;
        line-height: 40px;
    }

    .program h3 {
        width: 90%;
        font-size: 16px;
    }

    .section5 .flexClass {
        justify-content: space-between;
    }

    .section3 h2 {
        font-size: 40px;
        text-align: left;
        line-height: 50px;
        padding-bottom: 30px;
    }

    .section5 h2 {
        font-size: 40px;
        text-align: left;
    }

    .section6 .flexClass {
        flex-direction: column;
        align-items: center;
    }

    .section5 {
        padding-bottom: 112px;
    }

    .images_4_1 {
        width: 350px;
        height: 470px;
        padding-right: 0;

    }

    .WhatYouGet, .WhatYouGet h2, .WhatYouGet p {
        max-width: 100%;
    }

    .WhatYouGet h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .WhatYouGet p {
        font-size: 20px;
    }

    .section6 .openPopup_pay {
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .WhatYouGet .buttonC {

        margin-left: 20px;
    }

    .section6 {
        padding-bottom: 75px;
    }

    .section6 h2 {
        padding-bottom: 30px;
    }

    .slider-container {
        overflow: hidden;
        width: 100%;
    }

    .sliderButtons {
        display: flex;
        justify-content: end;
        padding-bottom: 30px;
    }


    .slider {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .slide {
        flex: 0 0 90%;
        box-sizing: border-box;
        margin: 0 15px;
    }

    footer .container {
        flex-direction: column;
        width: 80%;
        font-size: 14px;
        font-style: normal;
        line-height: normal;
    }


    .f1 h5:first-of-type {
        max-width: 257px;
        padding-bottom: 50px;
    }

    .f1 {
        order: 3;
    }

    .f2 {
        padding-right: 0;
        padding-bottom: 60px;
        order: 1;
    }

    .f3 {
        order: 2;
        padding-bottom: 25px;
        padding-left: 0;
    }

    .f3 h4 {
        padding-bottom: 58px;
    }

    .popup,
    .popup_pay,
    .popup_ty {
        width: 297px;
        height: 375px;
    }

    .popup h3,
    .popup_ty h3 {
        width: 320px;
        font-size: 24px;
        font-weight: 700;
    }

    .popup_pay h3 {
        width: 280px;
    }

    .popup h3 {
        margin-left: -22px;
        padding-top: 20px;
    }

    .popup h5,
    .popup_pay h5,
    .popup_ty h5 {
        font-size: 16px;
        max-width: 320px;
        font-weight: 400;
    }

    .popup h5 {
        padding-left: 7px;
    }

    .popup_ty h3 {
        margin-left: -23px;
    }

    .popup_ty h5 {
        margin-left: -7px;
    }

    .popup .buttonC {
        margin-left: -13px;
    }

    .phoneNumber {
        width: 230px;
        margin-bottom: 16px;
        margin-left: 0;
    }

    .phoneNumber::placeholder {
        font-size: 14px;
    }

    .popup-content,
    .popup-content_pay,
    .popup-content_ty {
        width: 320px;
    }

    .popup-content_ty > * {
        padding-bottom: 8px;
    }

    .popup-content .phoneNumber {
        width: 230px;
        margin-left: 0;
    }

    .popup-content_pay .button {
        width: 260px;
    }

    .close,
    .closePopup_pay,
    .closePopup_ty {
        font-size: 28px;
        top: 10px;
    }
}