@media screen and (max-width: 811px) {
    .container {
        max-width: 750px;
        margin: auto;
    }

    .section1 {
        padding-bottom: 0;
    }

    #images_1 {
        margin-left: -29px;
    }

    .section1Content {
        padding-left: 331px;
    }

    h1 {
        margin-left: 0;
        padding-top: 60px;
        font-size: 48px;
    }

    #Clip_path_3 {
        width: 95px;
        right: -335px;
    }

    .textH2 {
        font-size: 21px;
        padding-bottom: 30px;
    }

    .italic_text {
        margin-top: 18px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    #images_5 {
        display: none;
    }

    .ul_1 {
        padding-bottom: 10px;
    }

    .ul_2 {
        margin-top: 34px;
        margin-bottom: 40px;
        margin-left: 0;
    }

    .div_ul_2 {
        top: 20px;
    }


    #images_2, #images_3 {
        width: 527px;
        height: 576px;
    }

    .backForP {
        max-width: 790px;
        margin-bottom: 25px;
    }

    .backForP p {
        color: var(--Colors-Dark, #120001);
        font-size: 20px;
        font-weight: 400;
        width: 750px;
    }

    #Clip_1 {
        left: -1px;
        top: -62px;
    }

    #Clip_2 {
        right: 155px;
        top: 119px;
    }

    #Clip_3 {
        right: 531px;
        bottom: 9px;
    }

    #Clip_4 {
        right: -10px;
        top: 451px;
    }

    .program h3 {
        width: 97%;
    }

    .section6 .flexClass {
        flex-direction: column;
        align-items: center;
    }

    .images_4_1 {
        width: 652px;
        height: 869px;
        padding-bottom: 10px;
    }

    .WhatYouGet, .WhatYouGet h2, .WhatYouGet p {
        max-width: 100%;
    }

    .section6 .openPopup_pay {
        margin-left: 90px;
    }

    .slider-container {
        overflow: hidden;
        width: 100%;
    }

    .slider {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .slide {
        flex: 0 0 50%;
        box-sizing: border-box;
        margin: 0 55px;
    }

    .f1 h5:first-of-type {
        max-width: 257px;
    }

    .f2 {
        padding-right: 59px;
    }

    .popup,
    .popup_pay,
    .popup_ty {
        width: 350px;
        height: 400px;
    }

    .popup h3,
    .popup_pay h3,
    .popup_ty h3 {
        width: 320px;
        font-size: 24px;
        font-weight: 700;
    }

    .popup h5,
    .popup_pay h5,
    .popup_ty h5 {
        font-size: 16px;
        max-width: 320px;
        font-weight: 400;
    }

    .phoneNumber {
        width: 286px;
        margin-bottom: 16px;
        margin-left: 0;
    }

    .phoneNumber::placeholder {
        font-size: 14px;
    }

    .popup-content,
    .popup-content_pay,
    .popup-content_ty {
        width: 320px;
    }

    .popup-content_ty > * {
        padding-bottom: 8px;
    }

    .popup-content .phoneNumber {
        width: 286px;
        margin-left: 0;
    }

    .close,
    .closePopup_pay,
    .closePopup_ty {
        font-size: 28px;
        top: 10px;
    }

}